#container {
    text-align: center;
	position: sticky;
	top: 0;
}

/*Strip the ul of padding and list styling*/
ul {
	margin-bottom: 50px;
	padding: 0;
	display: inline-block;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 5px;
}
/*Style for menu links*/
li a {
	border-radius: 5px;
    display: block;
    min-width:160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: rgb(95,95,95);
	transition-duration: 0.4s;
    text-decoration: none;
}
/*Hover state for top level links*/
li a:hover {
     background-color: rgb(0,141,149);
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   border-radius: 15px;
   background-color: rgba(255,255,255,.3);
   padding: 20px;
   margin-top: 20px;
   color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.others_btn:hover {
	background: rgb(143,48,143);
}

.performances_btn:hover {
	background: rgb(153,55,38);
}

.visuals_btn:hover {
	background-color: rgb(107,153,38);
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0,141,149);
	 /*background-image: linear-gradient(to left,rgb(213,0,0),rgb(234,140,0)
						,green,rgb(21,162,191));*/
    text-align: center;
    padding: 10px 0;
	margin-bottom: 25px;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 740px){
    /*Make dropdown links appear inline*/
    ul {
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 5px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

